Langchain
Langchain-community
openai
python-dotenv
langchain-openai
huggingface_hub
streamlit
langserve
fastapi
uvicorn
sse_starlette
wikipedia
langchainhub
langchain_nvidia_ai_endpoints
duckduckgo-search
crewai
crewai[tools]
langchain-groq
transformers
fpdf
PyPDF2
